{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pioneernotebooks</title>
	<script src="https://kit.fontawesome.com/1b2665feba.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/style/style.css' %}">
</head>
<body>
	

	<!-- LEFT CORNER OF CONTAINER -->



	<div class="container">

		<div class="row">
			<div class="col-lg-3 col-lg-pull-9">
				<div class="border1">
					<h1> PIONEER</h1>
					<h1> NOTEBOOKS</h1>
				</div>


				<br>
				<br>



				<div class="border">
					<div class="border2">
						<h1>By Cover</h1>
					</div>

					<ul>

						<a href="#"><li>Blue</li></a>
						<a href="#"><li>White</li></a>
						<a href="#"><li>Brown</li></a>
					</ul>
				</div>
				<br>
				<br>
				<div class="border">
					<div class="border2">
						<h1>By Interior</h1>
					</div>

					<ul>

						<a href="#"><li>Lined</li></a>
						<a href="#"><li>Wide Ruled</li></a>
						<a href="#"><li>Graph</li></a>
						<a href="#"><li>College</li></a>
						<a href="#"><li>Dot-to dot</li></a>
					</ul>
				</div>
				<br>
				<br>
				<div class="border">
					<div class="border2">
						<h1>By number of pages</h1>
					</div>

					<ul>

						<a href="#"><li>100 pages</li></a>
						<a href="#"><li>200 pages</li></a>
						<a href="#"><li>300 pages</li></a>
						<a href="#"><li>400 pages</li></a>
					</ul>
				</div>

			</div>

			<div class="col-lg-9 col-lg-push-3">
				<div class="something">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
					</form>
					<!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search"><i class="fas fa-search"></i> -->
				</div>
				<br>
				<br>
				<div class="bordertext">
					<h1>Bestsellers</h1>
				</div>
				<br>
				<section class="carousel slide" data-ride="carousel" id="postsCarousel">

					<div class="col-12 text-right mb-4">
						<a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
						<a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
					</div>
					<div class="container p-t-0 m-t-2 carousel-inner">
						<div class="row row-equal carousel-item active m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>



							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	


						</div>




						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>




							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>


						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>
					</div>				
				</section>
				<br>
				<br>
				<br>
				<div class="borderend"></div>


				<br>
				<br>
				<div class="bordertext">
					<h1>Wide ruled</h1>
				</div>
				<br>
				<section class="carousel slide" data-ride="carousel" id="postsCarousel">

					<div class="col-12 text-right mb-4">
						<a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
						<a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
					</div>
					<div class="container p-t-0 m-t-2 carousel-inner">
						<div class="row row-equal carousel-item active m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>



							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	


						</div>




						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>




							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>


						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>
					</div>				
				</section>
				<br>
				<br>
				<br>
				<div class="borderend"></div>






				<br>
				<br>
				<div class="bordertext">
					<h1>Graph paper</h1>
				</div>
				<br>
				<section class="carousel slide" data-ride="carousel" id="postsCarousel">

					<div class="col-12 text-right mb-4">
						<a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
						<a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
					</div>
					<div class="container p-t-0 m-t-2 carousel-inner">
						<div class="row row-equal carousel-item active m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>



							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>	


						</div>




						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>




							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>


						<div class="row row-equal carousel-item m-t-0">
							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

							<div class="col-md-4">
								<div class="borderimg">
									<div class="container">	
										<p class="p">Wide ruled, Blue cover, 100 pages</p>
									</div>
									<br>
									<img src="{% static 'assets/images/notebook.png' %}" alt="Carousel 1">

									<a href="false" target="_blank" rel="noopener noreferrer" style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button2.png"></a>

								</div>
							</div>

						</div>
					</div>				
				</section>
				<br>
				<br>
				<br>
				<div class="borderend"></div>







			</div>
		</div>
	</div>












			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


			<script>
				(function($){
					"use strict";
					$('.next').click(function(){ $('.carousel').carousel('next');return false; });
					$('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
				})	
				(jQuery);
			</script>


			<!-- RIGHT CORNER OF CONTAINER -->
		</body>
		</html>