{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>

  <!--
  Image and text -->
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Pioneernotebooks</a>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 fa fa-search" type="submit"></button>
        </form>
    </nav>
</div>
<div class="greeting" id="myTable tr">
  <h1>Hello</h1>
  <h1>Whats up</h1>
</div>

  {% block index %}{% endblock %}

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(window).on("load",function(){
       $(".loader-wrapper").fadeOut("slow");
  });

$(document).ready(function(){
 $("#myInput").on("keyup", function() {
   var value = $(this).val().toLowerCase();
   $("#myTable tr").filter(function() {
     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   });
 });
});

  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
